h1.referral_agency_heading, h2.referral_agency_heading, h3.referral_agency_heading, h4.referral_agency_heading, h5.referral_agency_heading {
  margin-bottom: 0.05em;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 4px;
}
